*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat; /* manque image */
    background-color: #F4F4F4;
    max-width: 100%;
    text-align: center;   

}
header{
     padding: 0px;
     font-family: 'Patua One', cursive;
    font-family: red;
}
#jaune{

    background-color: yellow;
    height:  10px;
    margin: 0%;
}
#block{
    background-color: #000F9F;
    height: 70px;
}
#rouge{
    background-color: red;
    height: 10px;

}
@media screen and (max-width: 640px) {

    .moi {
        width: 100%;
    }

  }
